.first{
    border: 2px coral;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.stylez{
    border: 2px cornflowerblue;
    width: 300px;
    height: 420px;
    display: flex;

}
.figure{
    border: 2px chocolate;
    width: 780px;
    height: 400px;

}
.basic{
    border: 2px ;
    display: flex;
    justify-content: center;
}